@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8e2f2;
  color: #33363a;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px;
}

#root {
  margin: 0 auto;
  width: 500px;
}

.about {
  background-color: #89cff0;
  padding: 10px;
  border-radius: 6px;
  margin: 20px 0;

  ol {
    padding-inline-start: 1em;
  }
}

.contact {
  margin-top: 40px;
  text-align: center;
  
  a {
    margin: 0 5px;
    font-size: 20px;
    color: inherit;
  }
}

.form-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;

  .form-input {
    width: 100%;
    padding-right: 30px;
  }

  .material-icons {
    position: absolute;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
}

label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-input,
.form-btn {
  padding: 10px 8px;
  font-size: 16px;
  border: 1px solid #89cff0;
  background-color: #89cff0;
  outline: none;
}

.form-btn {
  background-color: #89cff0;
  cursor: pointer;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;

  .material-icons {
    font-size: 18px;
    margin-right: 8px;
  }
}

// validação de formulário
.form-validation {
  .valid {
    .form-input {
      border: 1px solid #14c070;
    }

    .material-icons,
    .form-input {
      color: #198754;
    }
  }

  .invalid {
    .form-input {
      border: 1px solid #d32032;
    }

    .material-icons,
    .form-input {
      color: #d32032;
    }
  }
}
